
# Ignore all files by default
*

# Apply exceptions to the following

# Updates to .gitignore
!.gitignore

# Do not ignore exceptions from the following sub-folders
!board/
!data/
!doc/
!rtl/
!sim/
!syn/
!sw/
!tb/

# The following file types are treated as exceptions

# Markdown, PNG, text and pdf files for documentation
!*.md
!*.png
!*.txt
!*.pdf

# Hardware design/verification files
!*.svh
!*.sv
!*.v
!*.h

# Files for synthesis/simulation
!*.do
!*.tcl
!*.qsf
!*.qpf
!*.mif
!*.hex
!*.qip
!*.sdc

# Software model files
![Mm]akefile
!*.c
!*.cc
!*.cpp

# A few PPM files for testing

!data/motorcycle.ppm
!data/panda.ppm
!data/cat.ppm


